[2019-02-09 15:03] Garik- opened #1 "Where is the code?"

[2019-02-11 16:04] lttb commented on #1
Hi, @Garik-!

We're looking to publish the `alpha` version this week 😄

So stay tuned!

[2019-03-05 10:48] pavelrevers commented on #1
In Russia, a week lasts 22 days and this is not the limit

[2019-03-06 10:38] lttb commented on #1
Hey guys, please accept my apologies for the delay. The time to finalize the API, collect all ideas and prepare the docs took a bit more than I expected.

In fact, the `reshadow@alpha` has been recently published, so you can play around with examples on the codesandbox:
`react`: https://codesandbox.io/s/o9w535k0z6
`preact`: https://codesandbox.io/s/o5jrpk0zm5

I'll try to publish the docs and the

[2019-03-12 11:19] alexmironof commented on #1
Awesome work @lttb, thanks! :tada:

[2019-03-13 09:13] lttb commented on #1
Hi all, thank you for waiting.

I've finally published the code of the `alpha` 😄
Unfortunately, there is still a lack of documentation, so I also hope to finish the docs this week too.

Anyway, you can find some examples in the `README.md`.
There are also more examples and explanation on the docs website https://reshadow.dev (I also find some problems with site availability in Russia, so there is

[2019-03-13 09:13] #1 closed

[2019-05-12 08:58] ilyalesik opened #12 "Reshadow syntax proposal"
I guess that separate style and jsx is more intuitively and understandable. I want to write some styles first, and create a component with JSX markup and some logic after that. Like this:
[code]

When I watch to constructions like this
[code]
I am experiencing cognitive stress and don't understand, what's going on. 😀

[2019-05-12 09:14] lttb commented on #12
hi @ilyalesik, thank you for the issue!

I've got plans to support the `styled` usage in the way you described in the first example in the nearest release, so stay tuned 😃

BTW, it is also possible to use separate styles like this:

[code]

and you can even move your `styles` into the separate file like `styles.css` and just import it

[2019-05-12 18:15] ilyalesik commented on #12
Code from your comment is equal to code from my proposal, and I see that I can use reshadow at convenient for me way right now. Thanks!

[2019-05-25 18:22] VladSez opened #18 "Can you please provide an example with Next.js ?"
Hello! I would like to try reshadow with Next.js. Could you provide an example?

[2019-05-25 18:55] lttb commented on #18
Hey @VladSez, thank you for the issue.

I made an example with `next.js` with SSR on the codesandbox: https://codesandbox.io/s/reshadownextjs-h4or9

Fill free to ask for any other help :)

In general, there are a few steps to start with reshadow:
1) `npm i -S reshadow`
2)
**.babelrc**
[code]

In the nearby feature we're looking to add an optional support without a babel plugin, but the recommended

[2019-05-25 19:52] VladSez commented on #18
Thank you so much!

[2019-05-29 10:07] lttb commented on #18
Hi @VladSez, have you tried reshadow with next.js? Do you still have an issue with that?

[2019-05-29 10:08] lttb commented on #12
I think we can close this issue at this moment, feel free to reopen it if you'll have any questions

[2019-05-29 10:08] #12 closed

[2019-05-30 19:55] VladSez commented on #18
Hi @lttb, yep, everything is good. Should i close the issue? What do you think about adding reshadow with next.js example to the docs?

[2019-06-02 06:45] paxarpp opened #20 "instruction for switching"
Good day,
Is there a described instruction for switching an application from styled-component to reshadow?

[2019-06-02 07:18] lttb commented on #20
Hi @paxarpp,

Thank you for the interest!

I'm working on updated documentation including switching from `styled-components` and other examples, hope to release it in coming days.

But I think that the basic transition should be easy at all, there are a few steps:
1) `npm i -S @reshadow/styled`
2) replace imports from `styled-components` to `@reshadow/styled`

The one thing, that is important to c

[2019-06-02 13:22] paxarpp commented on #20
![after](https://user-images.githubusercontent.com/34523588/58761955-9d09fa00-8552-11e9-9f6b-a8972d8c74b9.JPG)

Thanks, the transition is really simple, but in the Storybook my components have an artifact (this is the pseudo-element :after, but it is not in the styles of my component)

[2019-06-02 13:43] lttb commented on #20
@paxarpp thank you for the issue!

could you provide a link to the repo or something like minimal example please?
https://codesandbox.io/s/reshadowstyled-dg83s

[2019-06-02 13:47] paxarpp commented on #20
https://github.com/paxarpp/ui_library/tree/future/reshadow

[2019-06-02 13:53] lttb commented on #18
I've added a link to the example with `next.js` on the codesandbox in README and on the website.
I think it would be also useful to create a repo with examples or something like `reshadow-awesome` with links to the examples, guides and so on

At this moment we have:
- links on the README.md
- https://github.com/quasiyoke/reshadow-example-tunes/ (WIP)
- https://github.com/lttb/reshadow/tree/master/

[2019-06-02 13:53] #18 closed

[2019-06-02 14:01] lttb commented on #20
Thank you very much!

I think I found a bug, try to fix it today 😄

[2019-06-02 15:25] lttb commented on #20
Hey @paxarpp, I've just published `@reshadow/styled@0.0.1-alpha.52` where this problem looks fixed
https://github.com/lttb/ui_library/commit/5b1f1cc1dea930cf96a673fc3681522b3a9b5b6b

[2019-06-02 15:34] lttb opened #22 "reshadow beta roadmap"
The roadmap:

- [ ] finalize the API (almost done)
- support
- [ ] complete the docs
  - [ ] describe the usage with different frameworks and libraries
    - [ ] React
    - [ ] Preact
    - [ ] Vue
    - [ ] Svelte
    - [ ] htm
    - [ ] styled-components API
  - [ ] describe the runtime usage and usage with plugins:
    - [ ] reshadow/babel
    - [ ] reshadow/macro
    - [ ] reshadow/postcss

[2019-06-02 16:20] paxarpp commented on #20
ok, try now

[2019-06-02 17:14] paxarpp opened #23 "in dynamic styles with value combing"
in dynamic styles with value combing, 1 class is created, it was expected that when calculating the value, a separate class will be created for each value.
[code]
![combing](https://user-images.githubusercontent.com/34523588/58764683-08fc5a80-8573-11e9-8775-74484da9d09c.JPG)

[2019-06-02 17:37] paxarpp opened #24 "problem with flex style ?"
in this code:
[code]
flex: ${({ start }) => start && '20'}; or with end, not work.
 return flex = 1.

replace for flex: ${({ start }) => start ? '20' : '0'}; not help.

[2019-06-02 19:14] lttb commented on #23
Hi @paxarpp, thank you again for the issue!

This is an expected behaviour, and this is why reshadow has such efficient runtime.

The idea is that we can generate just one class, for example, but achieve the dynamic by the `css-custom-propterties`, that will be changed during the runtime.

This way, `isTwo` will set styles like:
[code]

And instead of updating the stylesheet on each render with ne

[2019-06-02 19:43] paxarpp commented on #23
thanks for the detailed and quick reply

[2019-06-02 21:42] lttb commented on #24
hi @paxarpp!

There was an issue with mixins selectors specificity, fixed in `alpha.54`

Here is an example with Divider:
https://codesandbox.io/s/reshadowstyled-kv7qq

[2019-06-03 05:00] paxarpp commented on #24
Good afternoon,
the location in the center did not work (when neither start nor end was transmitted), the code change helped:
[code]

Maybe I had a problem with the code with the correctness of the code?

[2019-06-03 05:16] paxarpp opened #25 "the overlying style is not redefined"
hi,
if you are not tired of my questions, then here's another:
(ver 0.54 or ver 0.57)
the overlying style is not redefined, if there is a new style below:
[code]
background-color: inherit;
always, regardless of the presence of a variable badge=true and color=some color,
and in styles there is a variable, but not applicable

[2019-06-03 05:17] #20 closed

[2019-06-03 05:21] paxarpp commented on #25
broke redefinition all over my project

[2019-06-03 05:34] s0kil commented on #22
@lttb Hello, This project is very interesting!
I have a question regarding `use:size={size}`. Is it supported in Svelte? Or React only?

[2019-06-03 09:32] lttb commented on #22
Hi @s0kil, thank you for the feedback!

`svelte` has its own `use` directive, but with `reshadow` it is possible to omit the namespace to set the modifier `:name={value}` or with shorthand `:{name}` like `{value}` that svelte has for attributes.

For example,
[code]

this is the same as
[code]

I made an example with reshadow, svelte and modifiers here: https://codesandbox.io/s/reshadowsvelte-bup1

[2019-06-03 10:07] lttb commented on #25
Hi @paxarpp, thank you very much for the issue again!

I really appreciate your help with `styled-components`, we don't use it in our project, thus it's quite difficult to me to check the real-world examples and problems, to be sure that reshadow is compatible with SC API. This way your issues are a huge step for the production-ready version for the replacement of styled-components 🙂

There was an

[2019-06-03 10:43] s0kil commented on #22
@lttb I'm currently working on a project that requires very dynamic components, and using `directives` makes it so much easier.

[2019-06-03 12:17] s0kil commented on #22
@lttb Instead of providing a CSS file, are you planning to support component styles?
Instead of `import styles from "styles.css"`
[code]

It's also possible to add a `lang` attribute to `<style>` similar to what [svelte-preprocess](https://github.com/kaisermann/svelte-preprocess) works:
[code]

[2019-06-03 12:53] lttb commented on #22
@s0kil

yeah, it is already possible with `reshadow`, you can even use your own language to preprocess before reshadow, for example:

[code]

Moreover, it is possible to use runtime js values in styles with `reshadow` by string interpolation:
[code]

And you can also use reshadow css function `val` to achieve that too:

[code]

The API is still WIP, but you can play with it here: https://codesandb

[2019-06-03 12:57] lttb commented on #22
And I did not mention, that another one way to use reshadow with svelte is `styled` function (https://codesandbox.io/s/bup1c):

[code]

the cool thing about this function is that it is possible to compose different styles together, which is useful for CSS code splitting, styles injection via DI and so on

[2019-06-03 13:04] lttb commented on #24
@paxarpp, hmm, the initial code looks correct, and I can't notice any difference in behaviour between these two snippets. here is an example with both variants: https://codesandbox.io/s/reshadowstyled-kv7qq

[2019-06-03 13:42] s0kil commented on #22
@lttb Thank you for your quick and detailed response.

[2019-06-03 14:33] s0kil opened #26 "ParseError: Identifier is expected"
When using `@reshadow/postcss` there is an error parsing this code:
[code]

Error:
[code]

[2019-06-03 14:39] lttb commented on #26
Thank you for the issue! Could you provide your `preprocess` config please?

[2019-06-03 14:41] s0kil commented on #26
Here it is:
[code]

[2019-06-03 14:43] s0kil commented on #26
I also want to note that if I use `@reshadow/svelte/preprocess` instead, it compiles, but there is a runtime error: `Uncaught ReferenceError: __styled__ is not defined`, and some warnings:
[code]

[2019-06-03 14:45] lttb commented on #26
Ah, this way you need to add `postcss-plugins` that you use independently to the `plugins` array. For example, you use there [postcss-nesting](https://github.com/jonathantneal/postcss-nesting), so the config might look like

[code]

You can also use [postcss-preset-env](https://github.com/csstools/postcss-preset-env/), for example, that also includes `nesting`, but the recommended way is to use `@

[2019-06-03 14:48] lttb commented on #26
BTW, there is a WIP example with `svelte`: https://github.com/lttb/reshadow/tree/master/examples/svelte/hello-world

[2019-06-03 14:55] s0kil commented on #26
@lttb
Here is an online example with the same code as I have locally: [codesandbox](https://codesandbox.io/s/young-worker-pmnco)

[2019-06-03 15:02] lttb commented on #26
Thank you very much! I think I found a bug, so I'm going to fix 😄

[2019-06-03 15:12] s0kil commented on #26
I have tried the latest version, and it throws a different runtime error:
[code]

[2019-06-03 16:16] paxarpp opened #27 "artifact appears as an element before"
Hello,
(0.0.1-alpha.60)
again I’m talking about bugs from my program, if after viewing Divider -> Divider, to choose to watch the button SVGButton -> SVGButton large, then the artifact appears as an element before
![SVGButton](https://user-images.githubusercontent.com/34523588/58817276-1299c700-8634-11e9-9c7c-445ab7727110.JPG)
![style](https://user-images.githubusercontent.com/34523588/58817286-17

[2019-06-03 16:26] #23 closed

[2019-06-03 16:27] paxarpp commented on #25
v  .60 ok

[2019-06-03 16:27] #25 closed

[2019-06-04 12:57] lttb commented on #27
hi @paxarpp, could you provide the code for your `Divider` please?

If it's the same as the example here: https://github.com/lttb/reshadow/issues/24#issuecomment-498113398, so this code has a small bug:

[code]

the ``` css`flex: 20}` ``` was returned, which leads to closing bracket in mixin, and this is why the pseudo `:before` and `:after` became not nested

here is an example with fixed code: h

[2019-06-04 13:02] lttb commented on #26
hi @s0kil, could you try again with `0.0.1-alpha.63` please? An example from your comment works well locally with that version

[2019-06-04 15:57] paxarpp commented on #27
hi,
[code]

[2019-06-04 15:58] lttb commented on #27
thank you! so yeah, there is a mistake:

[code]

[2019-06-04 16:07] paxarpp commented on #27
thanks and shame that he himself did not notice

[2019-06-04 16:26] lttb commented on #27
no worries, it happens 🙂

[2019-06-04 16:32] lttb commented on #27
BTW, I think that something like https://github.com/styled-components/stylelint-processor-styled-components could be useful to avoid such bugs

[2019-06-04 17:03] paxarpp commented on #27
yes, for SC installed

[2019-06-04 17:06] lttb commented on #27
so you can try to set this plugin like this (I hope it will work 😄 )

[code]

[2019-06-04 17:10] paxarpp commented on #27
there is still code that does not work the same as in SC
(:hover and animation) in button (need add new issue? or can here?

[2019-06-04 17:15] lttb commented on #27
I think it would be simpler for navigation to close this issue and create the new. Thank you very much!

[2019-06-04 17:15] #27 closed

[2019-06-04 17:16] paxarpp commented on #27
ок

[2019-06-04 17:22] paxarpp opened #28 "animation"
in this button:
[code]
not work : hover (cursor: pointer) and animation after click. (but in SC all work)

see (in my library -> Buttton -> Primary)

[2019-06-04 18:52] lttb commented on #28
Hi @paxarpp, thank you for the issue!

There was a problem with dynamic variables setting order, fixed in `0.0.1-alpha.64`

[2019-06-04 20:18] paxarpp commented on #28
all ok.

[2019-06-04 20:18] #28 closed

[2019-06-04 22:10] VladSez opened #29 "Is it possible to use @reshadow/styled with next.js and ssr ?"
Hello! I have run into difficulties trying to use @reshadow/styled with next.js and ssr. I have used this https://codesandbox.io/s/reshadownextjs-h4or9 as an example. But so far, no luck.

[2019-06-04 22:11] lttb commented on #29
Hi @VladSez!

Could you provide a not working example please?

[2019-06-04 22:34] VladSez commented on #29
@lttb https://codesandbox.io/s/reshadownextjs-d8t9y

[2019-06-04 22:34] lttb commented on #29
There is an example with `@reshadow/styled`, nextjs and SSR: https://codesandbox.io/s/reshadownextjs-s5yeg

but, there are a few things to note:
- at this moment `@reshadow/styled` works **only runtime**.

  The main purpose of that package is better performance than `styled-components` (benchmarks: https://xggtc.sse.codesandbox.io/public) and simpler switch to `reshadow`. So, `reshadow` has quite

[2019-06-04 22:37] lttb commented on #29
@VladSez, the problem was that you had `reshadow` and `@reshadow/styled` with different versions. Those packages based on `@reshadow/core`, so there was a conflict in the API and dependencies.

I just removed `reshadow` from deps, and it seems okay: https://codesandbox.io/s/reshadownextjs-pzhsm

[2019-06-04 22:46] VladSez commented on #29
@lttb thanks for your clarification!

[2019-06-04 22:47] #29 closed

[2019-06-04 23:12] lttb commented on #29
@VladSez BTW, I think that basic support for static styles extracting with SC I'll release soon, there is no real problem with this kind of feature, based on `reshadow` already has

but mixins are quite challenging, and on the first glance, the most realistic thing is just preprocessing styles for them, optimize the runtime and extract styles, that we can safely extract.

there are many pitfalls w

[2019-06-04 23:21] s0kil commented on #26
@lttb It works only if I manually install `@reshadow/core`.

[2019-06-04 23:21] #26 closed

[2019-06-04 23:22] lttb commented on #24
I think we can close this issue right now, but feel free to reopen it please if you'll still have this kind of problem

and thank you again for the help!

[2019-06-04 23:22] #24 closed

[2019-06-04 23:52] lttb commented on #26
@s0kil thank you for the response!

I made an example working on the codesanbox with rollup, and there was no need to install the `@reshadow/core` manually: https://codesandbox.io/s/modest-voice-fspeh.

Could you tell please, do you have any runtime error without `@reshadow/core`?

[2019-06-05 02:49] s0kil opened #30 "SyntaxError: Unexpected token"
When using `<script context="module">` in a Svelte application there is an error:
[code]

[2019-06-05 04:24] s0kil commented on #30
More Info: [script_context_module](https://svelte.dev/docs#script_context_module)

[2019-06-05 06:14] s0kil commented on #26
@lttb Yes it's working as expected now.

[2019-06-05 06:31] lttb commented on #30
Oh, thank you! I've missed that thing

[2019-06-05 07:33] s0kil opened #32 "Reshadow + Svelte SSR Styles"
When reshadow processes styles, they no longer are extracted to a css file, instead are evaluated by JavaScript at runtime.
Ex:
[code]

It would be ideal to return static styles in a `style` tag so Svelte could export them into a CSS file, and Reshadow will process dynamic styles at runtime.

[2019-06-05 07:46] s0kil commented on #32
Another suggestion for runtime performance: [cache all styles for re-use and inject CSS using .insertRule()](https://github.com/streamich/nano-css)

[2019-06-05 09:14] lttb commented on #32
Hi @s0kil, thank you very much for the request!

Yeah,  I think it's really important to extract styles also with `svelte`, and I don't see any problems with it at all (the same trick as with `webpack` should work out of the box)

So I think I'll have a chance to make it today/tomorrow

And thank you for the link to the `nano-css`, looks really interesting!

I also thought about `insertRule` and m

[2019-06-05 18:09] paxarpp opened #33 "handlers were lost"
HI, with complex markup, event handlers were lost in the code:
(in FloatingAction )
[code]

[2019-06-05 21:28] lttb commented on #32
@s0kil, I've made some benchmarks comparing with `nano-css` with `styled`-interface: https://xggtc.sse.codesandbox.io/public#nano-css-styled (production build)

and the difference on 100 boxes is quite big (**ms**):

| reshadow | reshadow-runtime | reshadow-styled | nano-css-styled |
|---|---|---|---|
| 69  |  77 |  115 |  573  |
|  50 |  58 | 81  | 1457  |
|  22  | 38  | 56  | 2348  |
|  22 | 29

[2019-06-05 22:02] antonk52 commented on #22
I've come across a funny case. If you use css-in-js approach w/ babel plugin assets' paths won't be parsed

example

[code]

If you use this approach the file `../fonts/custom-font.woff2` will not be recognised as a dependency and wont be passed to webpack or whatever bundler you happen to use. This is kind of a corner case. Yet it will also work with background images and other assets you happen

[2019-06-05 23:28] s0kil commented on #32
@lttb Looks great, but we still got to get them static styles out of the JavaScript bundle.
Not everyone can afford supercomputers to parse JavaScript bundles (:

[2019-06-06 04:14] s0kil opened #34 "Runtime Error -> Uncaught ReferenceError: __styles__ is not defined"
There is a warning:
[code]
There seems to be an error somewhere, `__styles__` is assigned to the wrong function.

Here is the component code:
[code]

[2019-06-06 07:31] ilyalesik opened #35 "@reshadow/styled - `background-image` is not displayed"
When I try to set `background-image`, it's not displayed:
[code]
Also, Chrome DevTools highlights `background` as an incorrect value:
[code]

[2019-06-06 09:21] lttb commented on #35
Hi @ilyalesik, thank you for the issue.

The quick fix is:

[code]

which is really ugly 😄

so it would be great to support `css functions`, that does not work with `css-custom-properties`

I think that the same trick as with units should work: https://github.com/lttb/reshadow/issues/23#issuecomment-498057603

[2019-06-06 09:58] ilyalesik commented on #35
It is cool that there is work around. But it's problem for using "@reshadow/styled" as a drop-inreplacement of styled-components. May be some migration script needed? (Based on babel or jscodeshift).

[2019-06-10 09:52] kizu opened #36 "Additional alternative syntax for modifiers"
In short: currently the only documented way to have BEM-style modifiers which are not based on rendered attributes is `use:foo` in HTML and `[use|foo]` in CSS.

There is an undocumented way to do the same with just `_prop` in HTML and `[_foo]` in CSS.

I think that should be an officially supported feature, available as a shortcut/alternative way to use the non-rendered props for conditional/targe

[2019-06-10 10:13] kizu opened #37 "Allow implicit direct root styles"
Right now we need to target each element explicitly.

[code]

This makes it a bit cumbersome to restyle such component from outside (you need to mention the inner root component name explicitly):

[code]

**My proposal:** allow direct styles without a mention of the component name:

[code]

And then the “inline” styles become also much simpler:

[code]

Other than reduced amount of code and more s

[2019-06-10 18:24] VladSez opened #38 "@reshadow/styled version 0.0.1-alpha.52 and above is not working with styled-system"
Seems like @reshadow/styled since version 0.0.1-alpha.52 and above is not working with styled-system
https://codesandbox.io/s/styledsystemreshadowstyled-y6bbd

@reshadow/styled version 0.0.1-alpha.49 is fine

[2019-06-10 18:28] lttb commented on #38
Hi @VladSez, thank you for the issue!

I'll take a look today

[2019-06-10 18:38] lttb commented on #37
thank you for the great proposal!

the one thing I'm not sure about is the second note about fragments

at this moment, we already support fragments with dynamic values, like

[code]

[2019-06-10 19:23] kizu commented on #37
When talking about fragments/array, it is more of “there can be always only one root element”, and then I'm thinking of a fragment in that case as more of an HTML element with `display: contents`, which would be an actual root, but as it renders to nothing, then anything applied to it won't matter (this is not exactly the same as with `display: contents` due to CSS inheritance, but I think the com

[2019-06-10 19:48] lttb commented on #37
agreed

there is also an interesting edge-case:

[code]

or

[code]

it seems that we should also ignore styles here

[2019-06-10 19:51] kizu commented on #37
Yep, if we do not know what is it there, we can ignore it.

[2019-06-10 19:54] lttb commented on #36
thank you very much for the proposal, I really like your points and I'm in 🙂

so it's time to unskip [these tests](https://github.com/lttb/reshadow/blob/master/packages/postcss/spec/index.test.js#L136) and UNBLOCK THE BEM POWER 😄😄😄

the thing that I'd like to consider before the publishing this feature are elements:

[code]

You were talking about attributes, but theoretically, this kind of elemen

[2019-06-10 20:12] kizu commented on #36
Hmm, I feel like it should be safe to allow underscores in the names, I'm not sure if I would use it, but I see how this can be useful for someone.

However, testing it with react: it actually supports components from variables named with a leading underscore, couldn't this be a potential problem?

[2019-06-14 17:59] antonk52 commented on #22
I came across two more cases which eventually should end up in either/or FAQ/gotchas sections on the website

- class name extraction
- workaround for components using React Portal

## Class name extraction

Essentially when you use third party libs that provide components which can accept class names in object format. I am aware of two options we can do it

[code]

[code]

## React Portal workaro

[2019-06-16 09:32] comerc opened #39 "Errors in CodeSandbox for CRA with reshadow/macro"
[![Edit frosty-varahamihira-hbo4f](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/frosty-varahamihira-hbo4f?fontsize=14)

if new project:
`reshadow/macro: require(...) is not a function`

if shared project:
`reshadow/macro: Error: ENOENT: No such file or directory., '/empty.js'`

[2019-06-16 09:41] comerc opened #40 "How to use reshadow with TypeScript?"
Property 'container' does not exist on type 'JSX.IntrinsicElements'.  TS2339

[code]

[2019-06-16 09:44] comerc opened #41 "How to use babel-plugin-import"
Please support this [plugin](https://www.npmjs.com/package/babel-plugin-import).

[2019-06-16 09:53] comerc commented on #40
I do NOT like this solution.

./react-app-env.d.ts
[code]

[2019-06-16 12:15] comerc opened #42 "Conflict with babel-plugin-styled-components"
I try to use `@reshadow/styled` in CRA.

I forgot to exclude `babel-plugin-styled-components`.

I have error:
`_reshadow_styled__WEBPACK_IMPORTED_MODULE_6___default(...)(...).withConfig is not a function`

[2019-06-16 12:30] comerc commented on #42
And I want to analog of this plugin functionality.

[2019-06-16 13:02] comerc opened #43 "@reshadow/styled does not support of "referring to other components""
https://www.styled-components.com/docs/advanced#referring-to-other-components

[code]
Invalid result:
![Снимок экрана от 2019-06-16 15-57-53](https://user-images.githubusercontent.com/1025241/59564450-9f3e7f00-904f-11e9-8424-6db5ea17edd1.png)

[2019-06-16 13:05] comerc commented on #43
Also I have problems with other HOCs (see above): ReactTimeout for example.

[2019-06-17 18:56] antonk52 commented on #39
Thank you for this and other issues. I will do my best to go over them, but it will probably be over the weekend.

[2019-06-17 19:02] antonk52 commented on #41
Hi. Thank you for the issue. Can you please expand on what you mean by supporting this plugin?

I can see see that it is intended to be used with modular utility/component based libraries. From my experience it looks pretty similar to [`babel-plugin-transform-imports`](https://www.npmjs.com/package/babel-plugin-transform-imports) but you also get to tune it to import `css` or other assets too.

Si

[2019-06-17 19:09] antonk52 commented on #40
Thank you for the issue. And it is indeed a good one.

This is a good question since I use reshadow daily. But yet to use it in a typescript project.

Off top of my head I can only think of having a list of acceptable component names which will have the same interface a regular `div` component i.e. same attributes, handlers and so on. This may also be beneficial since you can make sure no one on y

[2019-06-18 04:50] lttb commented on #39
Hi @comerc, thank you for the issue.

There is known problem on the Codesandbox with `postcss` on the babel transpiling.
So there are two things to do to get it work with `reshadow/babel` or `reshadow/macro`:

1) create empty file `empty.js` in the root folder
2) add `util` as the dependency (because it is also required by some postcss plugins)

We've made some Codesanbox starters, that you can fo

[2019-06-18 05:22] lttb commented on #42
Hi @comerc, thank you for the issue.

The problem is that `babel-plugin-styled-components` still processes the `styled` function, despite the fact that it was not imported from `styled-components`.

We should make it clear in the docs, that it needs to exclude this plugin.

About the plugin functionality:
- [SSR](https://www.styled-components.com/docs/tooling#serverside-rendering)

  `reshadow` wo

[2019-06-18 07:31] lttb commented on #40
Hi @comerc, thank you for the issue!

In addition to the things that @antonk52 mentioned, I want to note, that there is also possible to use custom elements this way:

[code]

And if you don't want to use namespaces:

[code]

I'm not sure that it will work with typescript well because we don't use typescript in our project (we use flow instead), but it looks like it should work.

And this is an un

[2019-06-23 08:47] rnskv opened #44 "Strange behavior on windows"
On mac os, the behavior is expected. The same project on windows throws an next error:
ERROR in /.cache/reshadow/3267209689_1.css (CssSyntaxError)

For example:
Unknown word

  1 | .___img_80kx0_1.__use--cover_80kx0_1 {\r
  2 |     -o-object-fit: cover;\r
  3 |        object-fit: cover\r
  4 | }

Full error's stack trace:

ERROR in /.cache/reshadow/1610543195_1.css (/Users/rnskv/WebstormProjects/w

[2019-06-23 09:49] ilyalesik opened #46 "`clearStyles` function needed"
At test environment `getStyles` should return result only for specific test. So `clearStyles` function needed:
[code]

[2019-06-23 17:13] comerc opened #48 "Commented variable inside style"
I have code with commented variable color:
[code]
And I have unexpected error:
[code]

[2019-06-23 17:51] comerc commented on #41
I use common lib [reshadow](https://www.npmjs.com/package/reshadow). (Instead of [@reshadow/macro](https://www.npmjs.com/package/@reshadow/macro) for example.

i.e.
`import styled, { css } from 'reshadow/macro'`
instead of
`import styled, { css } from '@reshadow/macro'`

And I assumed then I have all unused code of reshadow in my bundle. But experiment with CRA denied it. Sorry.

[2019-06-23 17:51] #41 closed

[2019-06-23 18:12] comerc commented on #40
1)
`<use:container>` does not work in TypeScript: `Parsing error: Identifier expected`

2)
How to use `use` from reshadow?
[code]
![Снимок экрана от 2019-06-23 21-07-33](https://user-images.githubusercontent.com/1025241/59980199-fc5fa500-95fa-11e9-999b-999742b7d0d2.png)

I see insertion to inline style from variables without `border`.

[2019-06-23 18:17] comerc commented on #39
Thanks!

[2019-06-23 19:46] antonk52 commented on #40
@comerc from your screenshot I can see that the html element it not getting the class name. Do you have this project on github or codesandbox? I would like to take a closer look. If not than can you make a gist of your config files in order to reproduce the problem?

[2019-06-24 09:54] comerc commented on #39
@lttb CRA is work with reshadow@0.0.1-alpha.26, but it is not work with reshadow@0.0.1-alpha.65.

[2019-06-24 10:05] comerc commented on #40
https://codesandbox.io/s/reshadow-cra-wudfn

[2019-06-24 15:24] ilyalesik opened #49 "Flow typings needed"

[2019-07-06 16:51] zmitry opened #50 "Typed reshadow classnames"
Hi, it would be cool to have option to generate typings for reshadow css files using this module https://github.com/Quramy/typed-css-modules.
it will improve development experience and will reduce problem with missing classnames in you  r code.
I don't have concrete proposal for that but the best case would be.
1) typed classnames/components for css files
2) typed classnames/components for inline

[2019-07-06 17:00] zmitry opened #51 "Css property alternative api"
I have idea how to improve adoption and DX and I think using css prop instead of styled function should improve that quite a lot.
Here are few examples
[code]
const styles = {css`
      h1 {
        font-size: 4rem;
      }
      Button {
        border: 1px solid ${red};
      }
      container {
        ///
      }
    `}
const App = () => (
  <use.container css={styles}>
    <h1>hello</h1>

[2019-07-07 20:53] antonk52 commented on #50
Hi, thank you for the issue.

1. I believe the plugin you suggested should work out of the box with reshadow if you do happen to use classnames (probably for 3rd party libs). Reshadow takes away the manual labor of mapping styles to components. This advantage makes this plugin rather irrelevant. But in theory should work w/ reshadow if you still in a situation where you need class names.

2. As fo

[2019-07-08 19:49] zmitry commented on #50
1) yes, but I would like to see typed components
2) Idk, but I guess it's possible to extract component names from js code

[2019-07-10 07:26] gus3inov commented on #40
Hi, i'm using `typescript 3.2.2` and  getting an error when using `use` namespace.
`(JSX attribute) use: true`
`Identifier expected.ts(1003)`
[code]

[2019-07-11 09:28] lttb commented on #40
hi @gus3inov, at this moment it would be better to use the `use` function, because it looks like TS parser does not support namespaces

[code]

[2019-07-11 09:43] gus3inov commented on #40
Thanks for feedback @lttb !
`use` function worked for me, but i'm think it's bad for typings component.
What if I add a pull request with types like these ?
[code]

[2019-07-11 09:46] lttb commented on #40
[code]

I'm not sure, that this is correct, because in fact the type of `use` function is something like

[code]

because the result will be omitted in the runtime and will not affect the component/element interface

[2019-07-11 09:51] gus3inov commented on #40
Yes, you are right, generic constraint looks good.

[2019-07-16 17:43] rnskv opened #66 "Error with webpack-virtual-modules"
After update dependencies, got next error:
Error: ENOENT: no such file or directory, open '/.cache/reshadow/1141933177_1.css'

Found problem in webpack/loader.

/.cache/reshadow/".concat(hash, ".css")

if use path.join(__dirname, "/cache/reshadow/".concat(hash, ".css")) all will work.

[2019-07-19 21:28] lttb commented on #46
Resolved in #47

[2019-07-19 21:28] #46 closed

[2019-07-19 21:29] #66 closed

[2019-07-23 17:47] lttb commented on #48
thank you for the issue!

fixed in #78

we'll close it in the next release

[2019-07-23 17:47] #48 closed

[2019-08-06 20:45] ilyalesik opened #79 "Extending with variables bug"
There are two components:
* Base component: [PrimaryButton](https://github.com/ilyalesik/reshadow-example/blob/master/src/PrimaryButton.js)
* Component that extend base component: [WhiteButton](https://github.com/ilyalesik/reshadow-example/blob/master/src/WhiteButton.js)

Base component (PrimaryButton) got correct styles:
[code]
But extended component (WhiteButton) got incorrect styles:
[code]

[2019-08-08 13:19] antonk52 commented on #79
Hi Ilya, thank you for the issue.

We've just released `0.0.1-alpha.66` version. I believe the fixes included in it should cover your case too. I will leave this issue open until you verify that your problem is gone.

[2019-08-08 18:34] ilyalesik commented on #79
Cool, thanks. The new version fixes the bug. 🎉

[2019-08-08 18:34] #79 closed

[2019-08-17 13:07] web-padawan opened #81 "Clarify the relationship to Shadow DOM standard"
Hello. I took a look into your project and the positioning is confusing. Especially, using "shadow" makes an impression of something close to Shadow DOM.

But in fact, there are only few statements which I was able to find. Let me elaborate a bit more on how I see your position as a developer and what impression does it make.

## Position

The first sentence in the description says the following:

[2019-08-17 21:15] antonk52 commented on #81
Hi, thank you for the issue and the interest in the project! I am currently on a holiday and don't have time to write a detailed reply. I will be back on Monday and will post a full answer for your concerns.

[2019-08-19 22:42] antonk52 commented on #81
First of all I would like to thank you for the interest in the project and writing up such a detailed issue.

In order to clear out any further confusion I want to state that I really enjoy the ideas that shadow DOM and web components provide us. Our docs are not ideal and we actively working on them to the limit of our free time. Our documentation definitely has room for improvement and we look f

[2019-08-20 08:14] web-padawan commented on #81
Thanks for detailed clarification. I agree the original questions are answered.
Let me add some notes as well, for sake of completeness, just in case someone else reads this.

Constructible stylesheets are intended to solve that. However, with recent discussions on the API, and WebKit opposed to original proposal, there is a chance that they will be delayed.

That's an interesting one, which I did

[2019-08-20 08:25] #81 closed

[2019-08-29 06:55] Danilqa opened #84 "Dynamic theme"
Hi! Thank you for your wonderful job! :)

I haven't found approaches for creating a dynamic theme as we've usually done it in Style Component. What do you think about this solution? Does another more correct way exist?

[code]

Each component I wrap by `withTheme` and get need properties inside it.

[2019-08-29 07:09] Danilqa opened #85 "Create global style"
Thanks for the great library!

I haven't found a solution for creating global theming in the application based on theme properties: for instance, the name of font families. (Something like this: https://www.styled-components.com/docs/api#createglobalstyle)

Does a solution with generating own `globals.css` from interpolated string by webpack plugin is ok? Or reshadow has something inside for resol

[2019-08-30 11:33] lttb commented on #84
Hi @Danilqa, thank you very much for the issue!

It's a very interesting topic, and I hope you will not mind if I try to dive a little deeper into the subject.

There are a couple of ways to apply some styles to the Component:
- Component's **modifiers** (like, `size`, `variant` etc.)
- **Theming** (primary/secondary colors, paddings and the other stuff declared in the theme variables)
- Component

[2019-08-30 11:39] lttb commented on #85
Hi @Danilqa! Thank you for the issue!

Yeah, you can use, in example, `.global.css` extension and exclude reshadow plugins for this kind of files.

By the way, `reshadow` has the `:global` pseudo-class for elements and attributes, like `css-modules` for class names:
[code]

[2019-08-30 12:31] Danilqa commented on #85
@lttb, thanks! Your option with `:global` looks great. We will use it.

[2019-08-31 19:51] Danilqa opened #86 "Splitting styles with props and makeup into two layers"
Hi again! :)

I have another issue:

In an ideal way, I wanna have 2 layers of some view component: makeup and styles. Styles can use props from component: theme, state props, etc. I analyzed use cases in spec. files and create some demo component:

[code]

So, with importing `css` from `reshadow/react` compiler doesn't crash, but in the code, we there is no variable:
![image](https://user-images.

[2019-09-02 08:10] lttb commented on #86
Hi @Danilqa, thank you for the issue!

At this moment, dynamic values are supported only by `styled` function, not `css` function.

I'm sorry that there is no best solution for that case, but I think that we'll ship dynamic `css` function support for about next 1-2 weeks with some other interesting improvements.

The ways to achieve such behaviour today:
- compose static and dynamic styles, for ex

[2019-09-02 08:16] Danilqa commented on #86
@lttb wonderful, thanks! Looking forward to your updates :)

[2019-09-18 20:02] lttb commented on #44
Thank you for the issue! It was fixed in `0.0.1-alpha.68`, but feel free to reopen it if you'll face with this problem again.

[2019-09-18 20:02] #44 closed

[2019-09-26 17:31] lttb commented on #40
@comerc @gus3inov we've just released the `0.0.1-alpha.69` version with basic typescript and flowtype support, there is an example of `next` + `reshadow` + `typescript`: https://codesandbox.io/s/reshadow-next-typescript-yok5b

hope to add some docs with examples and explanation soon

[2019-09-30 11:48] artalar opened #89 "DX-friendly selectors names"
I propose to add a component (for css-in-js API) name to generated selector name for development mode for better DX.

For example:

[code]

Must to generate something like `Comp_container_HaCe3q`.

[2019-09-30 18:55] comerc commented on #40
I see "Container Error"

![Снимок экрана от 2019-09-30 21-54-29](https://user-images.githubusercontent.com/1025241/65907381-f4b75580-e3cc-11e9-8529-287fc8c21484.png)

[2019-09-30 19:22] comerc opened #90 "reshadow/macro: There was an error trying to load the config..."
I see this message after update from 0.65 to 0.70

[2019-11-02 14:52] artalar opened #92 ""as" property conflict"
`as` property must be ignored when it set in a class / function components.

Error (`TypeError: Cannot read property 'startsWith' of undefined`):
[code]

![example](https://user-images.githubusercontent.com/27290320/68072702-7702b300-fd99-11e9-99f0-5783b7036ef0.png)

Fine:
[code]

[2019-11-25 19:05] karapetyansa opened #95 "styled function signature for typescript-styled-plugin compatibility"
In reshadow
import styled from 'reshadow'
in this case, styled is a template literal , but typescript-styled-plugin this is not true. In typescript-styled-plugin styled.a, styled.div etc is template literal.

To solve this problem, you can add to default export any property same as current styled.
In this case, it will be possible to use as follows
![image](https://user-images.githubusercontent.co

[2019-12-04 07:31] kodemi opened #96 "Typescript typings for reshadow/macro"
Now typings works only with `reshadow` module:
[code]
So `reshadow/macro` doesn't work with CRA Typescript app.
Alternative for CRA: use `.babelrc` config and import from `reshadow` module.

[2019-12-08 21:23] s0kil opened #97 "Svelte preprocesser overwrites `this` attribute in an `<svelte:component />`"
From: `<svelte:component this={CountryFlag} {country}/>`
Into: `<svelte:component {...map("svelte:component", {...})} />`

Svelte Compiler Error:
[code]

[2019-12-08 21:29] s0kil opened #98 "Svelte preprocesser adds unnecessary classes"
From:
[code]
Into:
[code]

This is related to https://github.com/lttb/reshadow/issues/97

The preprocesser should skip any tags that start with `<svelte: />` such as:
- `<svelte:self>`
- `<svelte:component>`
- `<svelte:window>`
- `<svelte:body>`
- `<svelte:head>`
- `<svelte:options>`

Non of these tags can be styled.

[2020-03-12 16:19] s-kobets opened #103 "TypeError: Cannot convert a Symbol value to a string when I run jest test some components"
[code]

[2020-03-12 20:24] antonk52 commented on #103
Hi and thank you for your issue.

I have configured jest to work with reshadow before but didn’t run into this issue. From your explanation it’s quite hard to guess what went wrong. Can you provide more information? To be specific your `babel.config.js` and `jest.config.js` would be a great start. If you can provide reproducible example that would be perfect.

Thanks

[2020-03-13 08:53] s-kobets commented on #103
I am sorry. I forget use `reshadow/babel` in jest.config.js. Thank you.

[2020-03-13 08:53] #103 closed

[2020-03-13 14:16] s-kobets opened #104 "Hi. I make screenshot test for ReactComponent with @reshadow, but html element don't have style, but in browser everything ok."
## Component
[code]
## Use
[code]

[2020-03-13 14:42] lttb commented on #104
Thank you for the issue!

could you provide a bit more details please?
- are you using server side rendering, `next.js`?
- are you using just `reshadow/babel`, or `reshadow/webpack/loader`, `reshadow/postcss` too?

[2020-03-13 15:00] s-kobets commented on #104
I use `reshadow/babel`
I use `ReactDOM.render(Component)` - it my SSR for snapshot in Jest

[2020-03-13 15:05] s-kobets commented on #104
### My config for transpiler babel
[code]

[2020-03-17 09:02] s-kobets commented on #104
Maybe it is my problem. I think, this is problem with stack in @reshadow/core?

[2020-03-17 15:18] s-kobets commented on #84
How I think. It is not work, because when you calculate hash for class name will be other, if use local style in `Button/index.js`.  Fix me, if I am not right.

[2020-03-17 20:27] s-kobets commented on #104
I find problem. I was use old version jest ^24. I update all dependencies jest and it resolved my problem.

[2020-03-17 20:27] #104 closed

[2020-03-18 06:56] lttb commented on #104
hi @s-kobets, please sorry for the late response.

glad you've found a solution, and thank you for sharing this!

[2020-04-14 14:47] antonk52 commented on #22
It's been a while, since most work is done in the next branch and what is left is the documentation I would like to propose a way to tackle it. I've copied over the points from the initial issue and commented on each below. I'd like to get some feedback on this idea before getting to work on it.

- [ ] complete the docs
  + needs clarification on what is lacking
- [ ] describe the usage with diffe

[2020-04-17 16:09] radist2s commented on #43
@comerc, checkout [my babel plugin](https://github.com/radist2s/babel-plugin-literal-shadow) which allows to use variable identifiers as Reshadow selectors.

[code]

@lttb, what do you thing about this approach?

[2020-05-01 11:08] avdotion opened #113 "Unable to customize css tagged template with string expressions"
There is a goal to assign all length in css code by multiplication to fix value. For example, let us take a segment `12px` as a common, then all applicable lengths are in range `[ 12, 24, ... ]`. There is a reason to use string expressions in the reshadow `css` tagged template.

Down here there is an example to customize the width of children that way. Webpack answers with the following:

[code]

[2020-05-01 11:29] avdotion commented on #113
These hacks work! 🚩

[code]

[code]

I see two common problems upper here:
* First of all, there is unable to customize child by namespace from parent component (matching to native html tags is supporting).
* Secondly, the expression which passed to `css` function is being parsed immediately.

[2020-05-13 14:56] kizu opened #115 "Selectors starting with colon can be handled incorrectly"
Sandbox: https://codesandbox.io/s/reshadow-cra-g02zb?file=/src/index.js:820-835

There are two examples: with `:global` and `:not`

[code]

Both these cases doesn't work correctly, but if we'd add starsm then they work:

[code]

This could probably be reproduced with other selectors as well.

[2020-05-13 18:59] kizu opened #116 ":focus-within doesn't work without :global"
Sandbox: https://codesandbox.io/s/reshadow-cra-hcqjm?file=/src/index.js:359-427

Basically, having `&:focus-within` doesn't work and produces this kind of selector:

[code]

While wrapping the `:focus-within` with `:global` — `&:global(:focus-within)` produces a proper selector:

[code]

[2020-06-05 15:47] lttb opened #118 "[runtime] Support dynamic variables fallback"
We can detect browser availability to use css-variables, and skip optimizations with them (so render just styles as is)

[2020-06-15 12:36] lttb opened #119 "[webpack] support 'module.css' postfix"

[2020-06-18 21:06] #119 closed

[2020-07-02 07:31] artalar commented on #40
Another issue is undeclared `styled.styles`:
![image](https://user-images.githubusercontent.com/27290320/86329672-23f63e00-bc4f-11ea-8b0a-70485ff37d99.png)

[2020-08-26 14:07] TehZarathustra opened #131 "TypeError: Cannot convert a Symbol value to a string"
Hey! Recently i've started using component library, which has reshadow in it
The problem is when i try to test (jest, enzyme) components with that lib i get the error
[code]

I've tried adding `reshadow/babel` to babel config, but it had no effect

babel.config.js
[code]

jest.config
[code]
Thanks!

[2020-08-27 17:47] lttb commented on #131
Hi @TehZarathustra, thank you for the issue and sorry for the delay!

The problem here is with `identity-obj-proxy`, because it makes a proxy on `styles` from `.css`, and every value returns it's key, event the symbol, that `reshadow` uses for some caching and internal needs.

I'd suggest to declare this kind of `proxy`:

[code]

And in your jest.config.js:

[code]

Hope it helps.

[2020-08-28 11:44] TehZarathustra commented on #131
It does. Thanks a lot!

[2020-08-28 11:44] #131 closed

[2020-09-30 08:36] lsroman opened #133 "Hi guys. Is this project being developed and supported? I really like your idea."

[2020-10-01 19:32] lttb commented on #133
Hi @lsroman, thank you for the issue!

This project is under development and support, and I'm striving to release v1 to the end of the year.
But the current state of the project is already relatively stable, and in terms of basic API, there should not be any significant changes.

[2020-10-27 12:48] mayoujin opened #134 "Error with Vue 3 and @vue/babel-plugin-jsx"
Hi authors and contributors!

There is a runtime error occurs when using _reshadow_ with _Vuejs 3_ and its new  [@vue/babel-plugin-jsx](https://github.com/vuejs/jsx-next/tree/dev/packages/babel-plugin-jsx) (replace Vuejs 2 [@vue/babel-plugin-transform-vue-jsx](https://github.com/vuejs/babel-plugin-transform-vue-jsx)) babel transform plugin of vue-3-like jsx.

Such vue component code
[code]
using `

[2020-10-31 12:15] lttb commented on #134
Hi @mayoujin,

Thank you very much for the issue.

I'll try to check it this weekend

[2021-01-02 00:18] Realetive commented on #96
@kodemi my temporary solution: add declaration to project's *.d.ts. Example for CRA:

[code]

[2021-01-24 16:37] rckm commented on #133
@lttb The end of the year has already passed, any updates?

[2021-02-19 07:42] mayoujin commented on #134
Hi.
If there is progress on the subject?

[2021-02-19 08:16] mayoujin opened #137 "@reshadow/core variable name mistype"
Hi authors and contributors!
It seems there is a mistype in the variable name in @reshadow/core
https://github.com/lttb/reshadow/blob/c42d7cce144a851c152e55d507e8514de8e77a57/packages/core/index.js#L78
Is there `use` should be `uses`?

It seems this issue does not at all or rarely brakes or produces bug but anyway.

[2021-03-07 19:53] valjusha opened #138 "reshadow/postcss: up settings"
Hi cool team.
Please add the setting for reshadow/postcss: `exclude` & `include`. To ignore some paths.
Example:
[code]
Thanks for reshadow.

[2021-03-07 19:58] valjusha opened #139 "Release error"
`package.json` > `dependencies` > `"reshadow": "^0.0.1-alpha.78";`

We are expecting an optional property: `use`, as in your repository. But the YARN has an outdated version.

Current soure:  https://github.com/lttb/reshadow/blob/master/packages/reshadow/elements.d.ts#L2

[2021-03-08 15:24] antonk52 commented on #138
Hi and thank you for the issue!

This should be pretty easy to implement. An alternative implementation can be done by introducing a single field `patterns: string[]`. Either way the resolution of this issue would automatically deprecate the `root` option that is currently used to specify a directory from which all css files will get processed by the postcss reshadow plugin.

[2021-08-03 11:53] lttb opened #158 "support dot in attribute value"
Support dots in attribute value:

[code]

[code]